<?xml version="1.0"?>

<!--information of the default settings of the aplication-->

<data>
    <DB_host>localhost</DB_host>
    <DB_user>root</DB_user>
    <DB_password>123456789</DB_password>
    <DB>SERVER</DB>
    <Mail_direction>asusgoverif@gmail.com</Mail_direction>
    <Aplication_mail_password>zmjhqeztigntcaoa</Aplication_mail_password>
    <Acount_mail_password>ServerVerification1</Acount_mail_password>
    <Start_page>http://localhost:5000/api</Start_page>
    <Login_page>http://localhost:5000/api</Login_page>
    <Register_page>http://localhost:5000/api</Register_page>
    <Ip_server>127.0.0.1</Ip_server>
</data>